@CHARSET "UTF-8";

span.status_SUBMITTED {
	background: orange;
}

span.status_APPROVED {
	background: lightgreen;
}

span.status_REJECTED {
	background: pink;
}

.link {
	word-break: break-all;
}

.link a:hover {
	background: lightgray;
}

.userFullName {
	white-space: nowrap;
	padding-left: 5px;
}

.blacklisted,
.blacklisted:hover td {
	background: gray !important;
}
